body {
    background-image: url(../img/map.png);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.time-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    background-color: #000;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    animation: daynight 12s infinite;
}

@keyframes daynight {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.clock {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 4vh;
}

@media screen and (max-width: 480px) {
    .clock {
        margin-bottom: 4%;
    }
}

.clock img {
    width: 100px;
    height: 100px;
    position: relative;
}

.back-btn {
    background: -webkit-linear-gradient(right, #c17aff 30%, #712fad 100%);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #1f1627;
    cursor: pointer;
    color: white;
    font-family: "Quincy";
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
    margin: 0;
    position: fixed;
    top: 13vh;
    left: 2vh;
}

.back-btn:hover {
    box-shadow: 0px 1px 18px #c17aff;
}

.back-btn a {
    color: white;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
    display:none;
    background: url(../img/stars.gif) repeat top center;
    z-index:1;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:2;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

.clouds{
    display:none;
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}