/* BOX SIZING */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* HTML AND BODY */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1fdff;
}

/* FONTS */

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

html {
    font-family: "Source Serif Pro";
}

main {
    margin-top: 11vh;
}

h1 {
    font: 96px "Pirates";
}

h2 {
    font: 600 45px "Source Serif Pro";
}

h3 {
    font: 600 36px "Source Serif Pro";
}

p {
    font: 24px "Source Serif Pro";
}

/* HEADER AND FOOTER */

header,
footer {
    background-color: #1f1627;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: 100vw;
}

header {
    height: 11vh;
    position: fixed;
    top: 0;
    padding: 0 1.5%;
    box-shadow: 0 0 8px 2px #1f1627;
}

footer {
    height: 14vh;
    width: 100%;
    padding: 0.5% 3%;
    position: relative;
    margin: 0;
}

header a {
    text-decoration: none;
}

#subtitle {
    font: italic 12px "Source Serif Pro";
    color: #f1fdff;
    margin: 0;
    text-align: left;
    position: absolute;
    bottom: 4px;
    left: 4px;
}

#logo {
    display: flex;
    
}

#logo img {
    width: 56px;
}

#site-name {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5%;
}

#site-name img {
    width: 150px;
}

#currency {
    justify-content: space-between;
    margin: 0 0 0 3.5%;
}

#doubloons,
#pixiedust {
    display: flex;
    position: relative;
}

#doubloon-img,
#pixiedust-img {
    width: 22px;
}

#doubloon-amt,
#pixiedust-amt {
    font: 21px "Source Serif Pro";
    color: #f1fdff;
    padding: 0 15%;
    margin: 0;
}

#stats {
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
    min-width: 125px;
    width: 15%;
    transition: 0.4s;
    margin: 0;
}

#stats p {
    color: #f1fdff;
    font: 16px "Source Serif Pro";
    border-radius: 24px;
    border: 1.25px solid #f1fdff;
    padding: 5% 12.5%;
}

#stats:hover {
    transform: scale(1.05);
}

.tooltip {
    position: absolute;
    visibility: hidden;
    top: -16px;
    left: 125%;
    font-size: 13px;
    background-color: #372449;
    color: #f1fdff;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    width: 12.5vw;
    min-width: 130px;
    z-index: 20;
    opacity: 0;
    transition: 0.5s;
}

#doubloon-img:hover ~ .tooltip,
#pixiedust-img:hover ~ .tooltip {
    opacity: 1;
    visibility: visible;
}

.site-nav {
    display: flex;
    height: 100%;
    text-align: center;
    width: 80%;
    min-width: 108px;
    justify-content: flex-end;
}

.site-nav p {
    padding: 0;
}

.site-nav a {
    display: flex;
    color: #f1fdff;
    font: 600 16px "Source Serif Pro";
    padding: 0 2.625%;
    align-items: center;
}

#nav-stats-link {
    display: none;
}

a[href="lore.html"] {
    padding: 0 3.5%;
}

a[href="freedomwall.html"],
a[href="performances.html"] {
    font-size: 15px;
    min-width: 125px;
}

.site-nav a:hover {
    background-color: #94a2ff;
}

#clock {
    width: 5%;
    min-width: 60px;
    margin: 0 0;
}

footer p {
    color: #f1fdff;
    font: 20px "Source Serif Pro";
    margin: 0;
}

#social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16%;
}

#social-media p {
    font-size: 24px;
}

#fb-logo,
#twt-logo {
    width: 40px;
    transition: 0.4s;
}

#fb-logo:hover,
#twt-logo:hover {
    transform: scale(1.1);
}

#copyright a {
    font: 20px "Source Serif Pro";
    color: #f1fdff;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    text-decoration-thickness: 1.5px;
}

#copyright a:hover {
    color: #94a2ff;
}

.back-to-top {
    position: absolute;
    bottom: 15vh;
    right: 1.5%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.back-to-top:hover img {
    transform: scale(1.2);
}

.back-to-top img {
    width: 40px;
    transition: 0.4s;
}

/* CONTENT */

a {
    text-decoration: none;
}

::selection {
    background-color: rgba(255, 222, 89, 0.5);
}

/* HEADER AND FOOTER RESPONSIVENESS: SMALL DEVICES */

#hamburger-menu-btn {
    display: none;
    height: 100%;
    width: 100%;
    place-items: center;
    cursor: pointer;
}

#hamburger-menu-btn img {
    width: 32px;
}

#hamburger-menu-btn:hover {
    background: #94a2ff;
}

@media screen and (max-width: 1080px) {
    a[href="performances.html"],
    a[href="freedomwall.html"] {
        font-size: 12px;
        min-width: 0px;
    }

    #social-media {
        width: 20vw;
    }
}

@media screen and (max-width: 1050px) {
    .site-nav  {
        width: 16vw;
        flex-direction: column;
        margin-left: 12vw;
    }
    
    #hamburger-menu-btn {
        display: grid;
        height: 11vh;
    }

    .site-nav {
        justify-content: space-between;
    }

    .site-nav a {
        display: none;
        width: 100%;
        font-size: 15px;
        text-align: center;
        background: #1f1627;
        padding: 2.5vh 0;
    }

    .responsive-navbar a {
        display: block;
    }

    a[href="freedomwall.html"],
    a[href="performances.html"] {
        font-size: 14px;
        min-width: 0px;
    }
}

@media screen and (max-width: 875px) {
    header {
        padding: 0 2% 0 1%;
    }

    #social-media {
        width: 24vw;
    }

    #social-media a {
        margin: 0 1%;
    }
}

@media screen and (max-width: 720px) {
    header {
        padding-right: 2.5%;
    }

    .site-nav  {
        margin-left: 0;
    }

    #currency {
        margin: 0 1% 0 5%;
    }

    #stats {
        margin: 0;
    }

    #social-media {
        width: 30vw;
    }
}

@media screen and (max-width: 640px) {
    header {
        padding-right: 3%;
    }

    .site-nav  {
        margin-left: 0;
    }

    #stats {
        min-width: 90px;
    }

    #stats p {
        font-size: 14px;
    }

    #social-media p {
        font-size: 20px;
    }

    #copyright a {
        font-size: 18px;
    }
}

@media screen and (max-width: 560px) {
    header {
        padding: 0 4% 0 0;
    }

    .site-nav  {
        width: 20vw;
    }

    .site-nav a {
        font-size: 14px;
    }

    #stats {
        width: 10%;
        margin: 0 0 0 2.5%;
    }

    #currency {
        display: none;
    }

    #clock {
        min-width: 45px;
    }

    #search {
        min-width: 20px;
    }

    #social-media {
        width: 36vw;
    }

    #copyright a {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    #logo > img {
        width: 52px;
    }

    #site-name {
        padding: 0;
    }

    #subtitle {
        font-size: 11px;
    }

    .site-nav  {
        width: 24vw;
    }

    #stats p {
        font-size: 13px;
    }

    #clock {
        display: none;
    }

    #search {
        min-width: 10px;
    }

    #social-media p {
        font-size: 18px;
    }

    #fb-logo,
    #twt-logo {
        width: 36px;
    }

    #copyright a {
        font-size: 14.5px;
    }
}

@media screen and (max-width: 440px) {
    .responsive-navbar #nav-stats-link {
        display: block;
    }

    #stats {
        display: none;
    }

    .site-nav  {
        width: 28vw;
    }

    footer {
        flex-direction: column;
        padding: 4% 0 1% 0;
        height: 16vh;
    }

    #social-media {
        width: 44vw;
    }

    #social-media p {
        font-size: 22px;
    }

    #copyright {
        width: 100%;
        text-align: center;
    }

    #copyright {
        margin-bottom: 5%;
    }

    #copyright a {
        font-size: 17.5px;
    }

    .back-to-top {
        bottom: 18vh;
    }
}

@media screen and (max-width: 360px) {
    #social-media {
        width: 50vw;
    }

    footer {
        height: 19vh;
    }

    .back-to-top {
        bottom: 21vh;
    }
} 

@media screen and (max-width: 320px) {
    #logo img {
        width: 48px;
    }

    #site-name img {
        width: 140px;
    }

    #subtitle {
        bottom: 2px;
    }

    .site-nav {
        min-width: 100px;
    }

    #social-media {
        width: 52vw;
    }

    footer {
        height: 20vh;
    }

    .back-to-top {
        bottom: 22vh;
    }
} 

@media screen and (max-width: 300px) {
    #logo-img {
        width: 44px;
    }

    #subtitle {
        bottom: 0;
    }

    #social-media {
        width: 60vw;
    }
} 

/* HEADER AND FOOTER RESPONSIVENESS: LARGE DEVICES */
@media screen and (min-height: 850px) {
    header,
    #hamburger-menu-btn {
        height: 9vh;
    }

    footer {
        height: 10vh;
    }

    .back-to-top {
        bottom: 11vh;
    }
}

@media screen and (min-height: 1080px) {
    header,
    #hamburger-menu-btn {
        height: 8vh;
    }

    footer {
        height: 9vh;
    }

    .site-nav a {
        font-size: 17.5px;
    }

    .back-to-top {
        bottom: 9vh;
    }
}

@media screen and (min-height: 1200px) {
    header,
    #hamburger-menu-btn {
        height: 7vh;
    }

    footer {
        height: 8vh;
    }
}

@media screen and (min-width: 1080px) {
    #clock {
        margin: 0 2.5%;
    }
}

@media screen and (min-width: 1400px) {
    #stats {
        width: 20%;
    }

    .site-nav a,
    #stats p {
        font-size: 18px;
    }

    #social-media {
        width: 14%;
    }

    #clock {
        margin: 0 5%;
    }
}

@media screen and (min-width: 1650px) {
    #stats {
        width: 25%;
    }

    #stats p {
        padding: 3.5% 10%;
    }

    #social-media {
        width: 12%;
    }
}

@media screen and (min-width: 1800px) {
    #social-media {
        width: 10%;
    }
}

/* Search Bar */

#search {
    width: 1%;
    min-width: 35px;
    margin: 0 1%;
}

#search:hover {
    cursor: pointer;
}

#cancelSearch {
    height: 35%;
}

#cancelSearch {
    cursor: pointer;
    position: relative;
    margin: auto;
}

.search-box {
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    background: #372449;
    transition: 0.4s;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.search-txt {
    background: none;
    outline: none;
    border: 1px solid #f1fdff;
    border-radius: 10px;
    padding: 10px;
    color: #f1fdff;
    font-size: 20px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.search-btn {
    width: 80px;
    padding: 5px 0;
    background: #372449;
    border: 1px solid #f1fdff;
    outline: none;
    cursor: pointer;
    color: #f1fdff;
}

#holder {
    position: relative;
    width: 80%;
    margin: auto;
    transition: 0.4s;
}

.gcse-search {
    height: 60%;
}